*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	font-size: 30px;
	padding: 10px;
}
p{
	font-size: 20px;
	padding: 10px;
}
.links{
	display: flex;
	flex-direction: column;
}
.links a{
	padding: 10px;
	color: rgb(0,0,200);
	text-decoration: none;
}
.links a:hover{
	color: rgb(153,0,153);
}